:host {

  ::ng-deep {

    wvr-button, .btn {

      font-family: var(--tl-btn-font-family);
      font-size: var(--tl-btn-font-size);
      font-weight: normal;
      text-align: var(--tl-btn-text-align);
      letter-spacing: 0.11px;
      line-height: var(--tl-btn-line-height);// 24px;
      border: var(--tl-btn-border);
      border-radius: var(--tl-btn-border-radius); //5px;
      text-align: var(--tl-btn-text-align);
      height: fit-content;
      width: fit-content;

      .wvr-button.btn.btn-primary:not(:disabled):not(.disabled).focus,
      .wvr-button.btn.btn-primary:not(:disabled):not(.disabled):focus,
      .wvr-button.btn.btn-secondary:not(:disabled):not(.disabled).focus,
      .wvr-button.btn.btn-secondary:not(:disabled):not(.disabled):focus,
      .wvr-button.btn.btn-info:not(:disabled):not(.disabled).focus,
      .wvr-button.btn.btn-info:not(:disabled):not(.disabled):focus,
      .wvr-button.btn.btn-warning:not(:disabled):not(.disabled).focus,
      .wvr-button.btn.btn-warning:not(:disabled):not(.disabled):focus,
      .wvr-button.btn.btn-danger:not(:disabled):not(.disabled).focus,
      .wvr-button.btn.btn-danger:not(:disabled):not(.disabled):focus,
      .wvr-button.btn.btn-success:not(:disabled):not(.disabled).focus,
      .wvr-button.btn.btn-success:not(:disabled):not(.disabled):focus,
      .wvr-button.btn.btn-light:not(:disabled):not(.disabled).focus,
      .wvr-button.btn.btn-light:not(:disabled):not(.disabled):focus,
      .wvr-button.btn.btn-dark:not(:disabled):not(.disabled).focus,
      .wvr-button.btn.btn-dark:not(:disabled):not(.disabled):focus {
        border: var(--tl-btn-border) !important;
      }

      // btn-primary
      .wvr-button.btn.btn-primary {
        background: var(--tl-btn-primary-background);
        border-color: var(--tl-btn-primary-background);
        color: var(--tl-btn-primary-color);
        text-decoration: var(--tl-btn-primary-text-decoration);
        // width: var(--tl-btn-primary-width);
      }

      .wvr-button.btn.btn-primary:not(:disabled):not(.disabled).active,
      .wvr-button.btn.btn-primary:not(:disabled):not(.disabled):active,
      .wvr-button.btn.btn-primary:hover {
        background: var(--tl-btn-primary-hover-background);
        border-color: var(--tl-btn-primary-hover-background);
        color: var(--tl-btn-primary-hover-color);
        text-decoration: var(--tl-btn-primary-text-decoration);
      }

      // btn-secondary
      .wvr-button.btn.btn-secondary {
        background: var(--tl-btn-secondary-background);
        border-color: var(--tl-btn-secondary-background);
        color: var(--tl-btn-secondary-color);
        text-decoration: var(--tl-btn-secondary-text-decoration);
      }

      .wvr-button.btn.btn-secondary:not(:disabled):not(.disabled).active,
      .wvr-button.btn.btn-secondary:not(:disabled):not(.disabled):active,
      .wvr-button.btn.btn-secondary:hover {
        background: var(--tl-btn-secondary-hover-background);
        border-color: var(--tl-btn-secondary-hover-background);
        color: var(--tl-btn-secondary-hover-color);
        text-decoration: var(--tl-btn-secondary-text-decoration);
      }

      // btn-info
      .wvr-button.btn.btn-info {
        background: var(--tl-btn-info-background);
        border-color: var(--tl-btn-info-background);
        color: var(--tl-btn-info-color);
        text-decoration: var(--tl-btn-info-text-decoration);
      }

      .wvr-button.btn.btn-info:not(:disabled):not(.disabled).active,
      .wvr-button.btn.btn-info:not(:disabled):not(.disabled):active,
      .wvr-button.btn.btn-info:hover {
        background: var(--tl-btn-info-hover-background);
        border-color: var(--tl-btn-info-hover-background);
        color: var(--tl-btn-info-hover-color);
        text-decoration: var(--tl-btn-info-text-decoration);
      }

      // btn-warning
      .wvr-button.btn.btn-warning {
        background: var(--tl-btn-warning-background);
        border-color: var(--tl-btn-warning-background);
        color: var(--tl-btn-warning-color);
        text-decoration: var(--tl-btn-warning-text-decoration);
      }

      .wvr-button.btn.btn-warning:not(:disabled):not(.disabled).active,
      .wvr-button.btn.btn-warning:not(:disabled):not(.disabled):active,
      .wvr-button.btn.btn-warning:hover {
        background: var(--tl-btn-warning-hover-background);
        border-color: var(--tl-btn-warning-hover-background);
        color: var(--tl-btn-warning-hover-color);
        text-decoration: var(--tl-btn-warning-text-decoration);
      }

      // btn-danger
      .wvr-button.btn.btn-danger {
        background: var(--tl-btn-danger-background);
        border-color: var(--tl-btn-danger-background);
        color: var(--tl-btn-danger-color);
        text-decoration: var(--tl-btn-danger-text-decoration);
      }

      .wvr-button.btn.btn-danger:not(:disabled):not(.disabled).active,
      .wvr-button.btn.btn-danger:not(:disabled):not(.disabled):active,
      .wvr-button.btn.btn-danger:hover {
        background: var(--tl-btn-danger-hover-background);
        border-color: var(--tl-btn-danger-hover-background);
        color: var(--tl-btn-danger-hover-color);
        text-decoration: var(--tl-btn-danger-text-decoration);
      }

      // btn -success
      .wvr-button.btn.btn-success {
        background: var(--tl-btn-success-background);
        border-color: var(--tl-btn-success-background);
        color: var(--tl-btn-success-color);
        text-decoration: var(--tl-btn-success-text-decoration);
      }

      .wvr-button.btn.btn-success:not(:disabled):not(.disabled).active,
      .wvr-button.btn.btn-success:not(:disabled):not(.disabled):active,
      .wvr-button.btn.btn-success:hover {
        background: var(--tl-btn-success-hover-background);
        border-color: var(--tl-btn-success-hover-background);
        color: var(--tl-btn-success-hover-color);
        text-decoration: var(--tl-btn-success-text-decoration);
      }

      // btn-light
      .wvr-button.btn.btn-light {
        background: var(--tl-btn-light-background);
        border-color: var(--tl-btn-light-background);
        color: var(--tl-btn-light-color);
        text-decoration: var(--tl-btn-light-text-decoration);
      }

      .wvr-button.btn.btn-light:not(:disabled):not(.disabled).active,
      .wvr-button.btn.btn-light:not(:disabled):not(.disabled):active,
      .wvr-button.btn.btn-light:hover {
        background: var(--tl-btn-light-hover-background);
        border-color: var(--tl-btn-light-hover-background);
        color: var(--tl-btn-light-hover-color);
        text-decoration: var(--tl-btn-light-text-decoration);
      }

      // btn-dark
      .wvr-button.btn.btn-dark {
        background: var(--tl-btn-dark-background);
        border-color: var(--tl-btn-dark-background);
        color: var(--tl-btn-dark-color);
        text-decoration: var(--tl-btn-dark-text-decoration);
      }

      .wvr-button.btn.btn-dark:not(:disabled):not(.disabled).active,
      .wvr-button.btn.btn-dark:not(:disabled):not(.disabled):active,
      .wvr-button.btn.btn-dark:hover {
        background: var(--tl-btn-dark-hover-background);
        border-color: var(--tl-btn-dark-hover-background);
        color: var(--tl-btn-dark-hover-color);
        text-decoration: var(--tl-btn-dark-text-decoration);
      }

      // btn-link
      .wvr-button.btn.btn-link {
        background: var(--tl-btn-link-background);
        border-color: var(--tl-btn-link-background);
        color: var(--tl-btn-link-color);
        text-decoration: var(--tl-btn-link-text-decoration);
      }

      .wvr-button.btn.btn-link:not(:disabled):not(.disabled).active,
      .wvr-button.btn.btn-link:not(:disabled):not(.disabled):active,
      .wvr-button.btn.btn-link:hover {
        background: var(--tl-btn-link-hover-background);
        border-color: var(--tl-btn-link-hover-background);
        color: var(--tl-btn-link-hover-color);
        text-decoration: var(--tl-btn-link-text-decoration);
      }
    }
  }
}
