<tl-button-wrapper #animationRoot>
  <wvre-button-element
    *ngIf="href!== ''"
    [btnClass]="btnClass"
    [btnSize]="btnSize"
    [href]="href"
    [wvrBtnType]="wvrBtnType">
    <ng-content select="wvre-text, wvre-text-element" ngProjectAs="wvre-btn-content"></ng-content>
  </wvre-button-element>
  <wvre-button-element
    *ngIf="href === ''"
    [btnClass]="btnClass"
    [btnSize]="btnSize"
    [wvrBtnType]="wvrBtnType">
    <ng-content select="wvre-text, wvre-text-element" ngProjectAs="wvre-btn-content"></ng-content>
  </wvre-button-element>
</tl-button-wrapper>
