@import "../shared/styles/tl-encapsulated.scss";
@import "../shared/styles/tl-branded-btn.scss";

:host {

  wvr-alert-component {
    ::ng-deep {
      .alert {
        border-radius: 0;
      }

      button.btn.btn-danger.close:hover,
      button.btn.btn-dark.close:hover,
      button.btn.btn-info.close:hover,
      button.btn.btn-light.close:hover,
      button.btn.btn-primary.close:hover,
      button.btn.btn-secondary.close:hover,
      button.btn.btn-success.close:hover,
      button.btn.btn-warning.close:hover {
        color: var(--tl-black);
        text-decoration: none;
        background: transparent;
        opacity: .75;
      }

      button.btn.btn-danger.close:focus,
      button.btn.btn-dark.close:focus,
      button.btn.btn-info.close:focus,
      button.btn.btn-light.close:focus,
      button.btn.btn-primary.close:focus,
      button.btn.btn-secondary.close:focus,
      button.btn.btn-success.close:focus,
      button.btn.btn-warning.close:focus {
        opacity: .75;
        color: var(--tl-black);
        background: transparent;
        // border: 0.12rem solid var(--tl-black);
        top: -2px;
      }

      button.btn.btn-danger.close:focus,
      button.btn.btn-dark.close:focus,
      button.btn.btn-info.close:focus,
      button.btn.btn-light.close:focus,
      button.btn.btn-primary.close:focus,
      button.btn.btn-secondary.close:focus,
      button.btn.btn-success.close:focus,
      button.btn.btn-warning.close:focus {
        box-shadow: none;
      }

      button.btn.btn-danger.close:active,
      button.btn.btn-danger.close.active,
      button.btn.btn-dark.close:active,
      button.btn.btn-dark.close.active,
      button.btn.btn-info.close:active,
      button.btn.btn-info.close.active,
      button.btn.btn-light.close:active,
      button.btn.btn-light.close.active,
      button.btn.btn-primary.close:active,
      button.btn.btn-primary.close.active,
      button.btn.btn-secondary.close:active,
      button.btn.btn-secondary.close.active,
      button.btn.btn-success.close:active,
      button.btn.btn-success.close.active,
      button.btn.btn-warning.close:active,
      button.btn.btn-warning.close.active {
        color: var(--tl-black);
        background: transparent;
      }

    }
  }
}
