<wvr-header-element [logoSrc]="logoSrc" [logoHref]="logoHref" [logoText]="logoText" [logoImgHeight]="logoImgHeight"
  [logoImgWidth]="logoImgWidth" [logoImgMargin]="logoImgMargin" [headerTitle]="pageTitle" [headerTitleUrl]="pageTitleUrl"
  [titleRowBackground]="titleRowBackground" [topNavBackground]="topNavBackground"
  [bottomNavBackground]="bottomNavBackground">

  <wvr-nav-list-element top-navigation aligned="RIGHT" [ngClass]="{'closed': mobileMenuClosed}">
    <wvr-nav-li-element (click)="toggleMobileMenu()">
      <wvr-dropdown-element [btnHref]="'https://library.tamu.edu/about/hours.html'" [toggleOn]="'mouseover'" class="hours" [menuYOffset]="'-2px'">
        <wvr-dropdown-btn>
          <wvr-text-element value="Hours" font-size="14px"></wvr-text-element>
        </wvr-dropdown-btn>
        <wvr-dropdown-menu>
            <wvr-dropdown-menu-item>
                  <wvr-text-element value="While most of our buildings are closed to the public access, we still have robust " font-weight="bold"></wvr-text-element>
                  <a href="https://tamu.libguides.com/c.php?g=1016445">
                    <wvr-text-element value="virtual services" color="#2b5d7d" font-weight="bold"></wvr-text-element>
                  </a>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <wvr-text-element value="The OAL Lab in BLCC is open 8am - 7pm."></wvr-text-element> <br /><wvr-text-element value="BLCC is offering only virtual services."></wvr-text-element>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <a class="btn btn-info" href="https://tamu.libguides.com/c.php?g=1016445">
                <wvr-text-element value="View all Virtual Services"></wvr-text-element>
              </a>
            </wvr-dropdown-menu-item>
        </wvr-dropdown-menu>
      </wvr-dropdown-element>
    </wvr-nav-li-element>
    <wvr-nav-li-element >
      <wvr-dropdown-element [btnHref]="'https://library.tamu.edu/about/index.html'" [toggleOn]="'mouseover'" [menuXOffset]="'-65px'" [menuYOffset]="'-2px'" class="libraries" >
        <wvr-dropdown-btn>
          <wvr-text-element value="Libraries" font-size="14px"></wvr-text-element>
        </wvr-dropdown-btn>
        <wvr-dropdown-menu>
            <wvr-dropdown-menu-item>
              <div class="libraries-link">
                <a href="//blcc.library.tamu.edu" title="Go to Business Library and Collaboration Commons website">
                  <wvr-text-element value="Business Library &amp; Collaboration Commons"></wvr-text-element>
                </a>
              </div>
              <p>
                <a href="//library.tamu.edu/about/directions/business-library.html" title="Parking Directions for Business Library and Collaboration Commons">
                  <wvr-text-element value="Parking Directions"></wvr-text-element>
                </a>
                <wvr-text-element value=" / 979-845-2111"></wvr-text-element>
              </p>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <div class="libraries-link"><a href="//cushing.library.tamu.edu" title="Go to Cushing Library website">Cushing Memorial Library &amp; Archives</a></div>
              <p>
                <a href="//library.tamu.edu/about/directions/cushing-library.html" title="Parking Directions for Cushing Library">
                  <wvr-text-element value="Parking Directions"></wvr-text-element>
                </a>
                <wvr-text-element value=" / 979-845-1951"></wvr-text-element>
              </p>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <div class="libraries-link">
                <a href="//msl.library.tamu.edu" title="Go to Medical Sciences Library website">
                  <wvr-text-element value="Medical Sciences Library"></wvr-text-element>
                </a>
              </div>
              <p>
                <a href="//library.tamu.edu/about/directions/medical-sciences-library.html" title="Parking Directions for Medical Sciences Library">
                  <wvr-text-element value="Parking Directions"></wvr-text-element>
                </a>
                <wvr-text-element value=" / 979-845-7428"></wvr-text-element>
              </p>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <div class="libraries-link">
                <a href="//psel.library.tamu.edu" title="Go to Policy Sciences and Economics Library website">
                  <wvr-text-element value="Policy Sciences &amp; Economics Library"></wvr-text-element>
                </a>
              </div>
              <p>
                <a href="//library.tamu.edu/about/directions/policy-sciences-economics-library.html" title="Parking Directions for Policy Sciences and Economics Library">
                  <wvr-text-element value="Parking Directions"></wvr-text-element>
                </a>
                <wvr-text-element value=" / 979-862-3544"></wvr-text-element>
              </p>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <div class="libraries-link">
                <a href="//evans.library.tamu.edu" title="Go to Evans Library website">
                  <wvr-text-element value="Sterling C. Evans Library &amp; Annex"></wvr-text-element>
                </a>
              </div>
              <p>
                <a href="//library.tamu.edu/about/directions/evans-library-annex.html" title="Parking Directions for Evans Library and Annex">
                  <wvr-text-element value="Parking Directions"></wvr-text-element>
                </a>
                <wvr-text-element value=" / 979-845-3731"></wvr-text-element>
              </p>
            </wvr-dropdown-menu-item>
        </wvr-dropdown-menu>
      </wvr-dropdown-element>
    </wvr-nav-li-element>

    <wvr-nav-li-element>
      <wvr-dropdown-element [btnHref]="'https://library.tamu.edu'" [toggleOn]="'mouseover'" [menuXOffset]="'-150px'" [menuYOffset]="'-2px'" class="information-for">
        <wvr-dropdown-btn>
          <wvr-text-element value="Information for" font-size="14px"></wvr-text-element>
        </wvr-dropdown-btn>
        <wvr-dropdown-menu>
          <wvr-dropdown-menu-item>
            <a href="faculty_info/index.html">
              <wvr-text-element value="Information for Faculty"></wvr-text-element>
            </a>
          </wvr-dropdown-menu-item>
          <wvr-dropdown-menu-item>
            <a href="grad_info/index.html">
              <wvr-text-element value="Graduate Student Resources"></wvr-text-element>
            </a>
          </wvr-dropdown-menu-item>
          <wvr-dropdown-menu-item>
            <a href="undergrad_info/index.html">
              <wvr-text-element value="Undergraduate Student Resources"></wvr-text-element>
            </a>
          </wvr-dropdown-menu-item>
          <wvr-dropdown-menu-item>
            <a href="services/accessibility.html">
              <wvr-text-element value="Services for Individuals with Disabilities"></wvr-text-element>
            </a>
          </wvr-dropdown-menu-item>
          <wvr-dropdown-menu-item>
            <a href="https://tamu.libguides.com/c.php?g=949823">
              <wvr-text-element value="Students at Satellite Campuses"></wvr-text-element>
            </a>
          </wvr-dropdown-menu-item>
          <wvr-dropdown-menu-item>
            <a href="http://tamu.libguides.com/c.php?g=586101&amp;p=4048709">
              <wvr-text-element value="School Visitors"></wvr-text-element>
            </a>
          </wvr-dropdown-menu-item>
          <wvr-dropdown-menu-item>
            <a href="about/other_patrons.html">
              <wvr-text-element value="Other Library Guests (Non-TAMU Affiliates)"></wvr-text-element>
            </a>
          </wvr-dropdown-menu-item>
        </wvr-dropdown-menu>
      </wvr-dropdown-element>
    </wvr-nav-li-element>
    <wvr-nav-li-element>
      <a href="https://library.tamu.edu/mylibrary/">
        <wvr-text-element value="MyLibrary" font-size="14px"></wvr-text-element>
      </a>
    </wvr-nav-li-element>

    <wvr-nav-li-element>
      <wvr-dropdown-element [btnHref]="'http://askus.library.tamu.edu/'" [toggleOn]="'mouseover'" [menuXOffset]="'-365px'" [menuYOffset]="'-2px'" class="help">
        <wvr-dropdown-btn>
          <wvr-text-element value="Help" font-size="14px"></wvr-text-element>
        </wvr-dropdown-btn>
        <wvr-dropdown-menu>
            <wvr-dropdown-menu-item>
              <a href="http://askus.library.tamu.edu/">
                <img alt="AskUs logo" height="80px" src="//library.tamu.edu/assets/images/askus.png">
              </a>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <tl-icon set="bootstrap" name="arrow-right-circle"></tl-icon>
              <a href="http://askus.library.tamu.edu/" class="helpLink">
                <wvr-text-element value=" Chat with us "></wvr-text-element>
              </a>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <tl-icon set="bootstrap" name="arrow-right-circle"></tl-icon>
              <a href="//library.tamu.edu/about/phone.html" class="helpLink">
                <wvr-text-element value=" Call us "></wvr-text-element>
              </a>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <tl-icon set="bootstrap" name="arrow-right-circle"></tl-icon>
              <a href="sms:9792561091" class="helpLink">
                <wvr-text-element value=" Text us @ 979-256-1091 "></wvr-text-element>
              </a>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <tl-icon set="bootstrap" name="arrow-right-circle"></tl-icon>
              <a href="https://askus.library.tamu.edu/contact/index" class="helpLink">
                <wvr-text-element value=" Email us "></wvr-text-element>
              </a>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <tl-icon set="bootstrap" name="arrow-right-circle"></tl-icon>
              <a href="http://askus.library.tamu.edu/" class="helpLink">
                <wvr-text-element value=" FAQs "></wvr-text-element>
              </a>
            </wvr-dropdown-menu-item>
            <wvr-dropdown-menu-item>
              <tl-icon set="bootstrap" name="arrow-right-circle"></tl-icon>
              <a href="https://askus.library.tamu.edu/contact/index" class="helpLink">
                <wvr-text-element value=" Report a problem "></wvr-text-element>
              </a>
            </wvr-dropdown-menu-item>
        </wvr-dropdown-menu>
      </wvr-dropdown-element>
    </wvr-nav-li-element>
  </wvr-nav-list-element>
  <wvr-nav-list-element bottom-navigation theme="DARK" [ngClass]="{'closed': mobileMenuClosed}">
    <wvr-nav-li-element>
      <tl-mega-menu menu-title="Services" view-all-href="/services">
        <tl-mega-menu-section section-title="Help">
          <tl-nav-li>
            <a href="http://askus.library.tamu.edu/">
              <wvr-text value="AskUs for Help"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="http://tamu.libguides.com/libguides">
              <wvr-text value="Research Guides"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="https://askus.library.tamu.edu/consultation/index">
              <wvr-text value="Request a Consultation"></wvr-text></a>
            </tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/directory/findmylibrarian">
              <wvr-text value="Find My Librarian"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="http://library.tamu.edu/directory">
              <wvr-text value="Directory"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/about/index.html">
              <wvr-text value="About the Libraries"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/services/service_request_forms/index.html">
              <wvr-text value="Service Request Forms"></wvr-text>
            </a>
          </tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Researcher Services">
          <tl-nav-li>
            <a href="https://library.tamu.edu/services/scholarly_communication/index.html">
              <wvr-text value="Scholarly Communication Services"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="https://scholars.library.tamu.edu/vivo/">
              <wvr-text value="Scholars@TAMU"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/services/scholarly_communication/Data_Management/index.html">
              <wvr-text value="Research Data Management"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="http://tamu.libguides.com/?b=g&amp;d=a&amp;group_id=9194">
              <wvr-text value="GIS, Maps &amp; Data"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="http://tamu.libguides.com/systematicreviews">
              <wvr-text value="Systematic Reviews"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="http://tamu.libguides.com/c.php?g=934250&amp;p=6734144">
              <wvr-text value="Open Educational Resources (OER)"></wvr-text>
            </a>
          </tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Instructional Services">
          <tl-nav-li>
            <a href="https://library.tamu.edu/libraryInstruction/index.html">
              <wvr-text value="Instructional Services"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/services/service_request_forms/request_instruction.php">
              <wvr-text value="Schedule a Library Class"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/libraryInstruction/student-learning-outcomes.html">
              <wvr-text value="Student Learning Outcomes"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="http://tamu.libguides.com/c.php?g=934250&amp;p=6734410">
              <wvr-text value="Open Access for Student Educational Success"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/libraryInstruction/tutorial-directory.html">
              <wvr-text value="Tutorial Directory"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="http://tamu.libguides.com/c.php?g=613138&amp;p=4259949">
              <wvr-text value="Class Guides"></wvr-text>
            </a>
          </tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/services/cr_info_students.html">
              <wvr-text value="Course Reserves"></wvr-text>
            </a>
          </tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Information For">
        <tl-nav-li>
          <a href="faculty_info/index.html">
            <wvr-text value="Faculty"></wvr-text>
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="grad_info/index.html">
            Graduate Students
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="undergrad_info/index.html">
            Undergraduate Students
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="services/accessibility.html">
            Individuals with Disabilities
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="https://tamu.libguides.com/c.php?g=949823">
            Students at Satellite Campuses
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="http://tamu.libguides.com/c.php?g=586101&amp;p=4048709">
            School Visitors
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="about/other_patrons.html">
            Other Library Guests (Non-TAMU Affiliates)
          </a>
        </tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Technology">
        <tl-nav-li>
          <a href="https://library.tamu.edu/libraryInstruction/the-studio.html">
            The Studio
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="https://library.tamu.edu/services/print_scan_copy.html">
            Print/Scan/Copy
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="https://library.tamu.edu/services/media_services/equipment.html">
            Equipment for Checkout
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="https://library.tamu.edu/services/oal_computers_and_laptops.html">
            Computers &amp; Laptops
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="https://library.tamu.edu/services/tech_troubleshooting.html">
            Tech Troubleshooting
          </a>
        </tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Additional Services">
        <tl-nav-li>
          <a href="http://getitforme.library.tamu.edu/">
            Get It For Me (ILL)
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="http://blcc.library.tamu.edu/services/ptc.html">
            Patent &amp; Trademark Resource Center
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="http://tamu.libguides.com/copyright">
            Copyright &amp; Fair Use
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="http://cushing.library.tamu.edu/services/records_mgmt/index.html">
            Records Management
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="https://library.tamu.edu/services/reference_services.html">
            Subject Librarian Services
          </a>
        </tl-nav-li>
        <tl-nav-li>
          <a href="http://uwc.tamu.edu/">
            University Writing Center
          </a>
        </tl-nav-li>
        </tl-mega-menu-section>
      </tl-mega-menu>
    </wvr-nav-li-element>

    <wvr-nav-li-element>
      <tl-mega-menu menu-title="Research" view-all-href="/research/">
        <tl-mega-menu-section section-title="Search and Find">
          <tl-nav-li>
            <a href="https://library.tamu.edu/search/articles.html">Articles</a></tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/search/books.html">Books</a></tl-nav-li>
          <tl-nav-li>
            <a href="https://library.tamu.edu/search/databases.html">Databases</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/search/eJournals.html">eJournals</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/search/theses.html">Theses &amp; Dissertations</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/search/index.html">View all Search Options</a></tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Get It for Me">
          <tl-nav-li><a href="http://getitforme.library.tamu.edu/">Get It For Me (ILL)</a></tl-nav-li>
          <tl-nav-li><a href="http://library.tamu.edu/services/service_request_forms/purchase_request.php">Suggest a Purchase</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/services/gifm_faq.html">Get It For Me FAQ</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/services/lending_services.html">Lending to Other Libraries</a></tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Library Help and How-Tos">
          <tl-nav-li><a href="http://askus.library.tamu.edu/">AskUs for Help</a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libguides.com/libguides">Library Guides</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/libraryInstruction/tutorial-directory.html">Tutorials</a></tl-nav-li>
          <tl-nav-li><a href="https://askus.library.tamu.edu/consultation/index">Request a Consultation</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/services/reference_services.html">Subject Librarian Services</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/directory/findmylibrarian">Find My Librarian</a></tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Popular Databases">
          <tl-nav-li><a href="http://proxy.library.tamu.edu/login?url=https://coral.library.tamu.edu/resourcelink.php?resource=10096">Academic Search Ultimate</a></tl-nav-li>
          <tl-nav-li><a href="http://proxy.library.tamu.edu/login?url=https://coral.library.tamu.edu/resourcelink.php?resource=10097">Business Source Ultimate</a></tl-nav-li>
          <tl-nav-li><a href="http://proxy.library.tamu.edu/login?url=https://coral.library.tamu.edu/resourcelink.php?resource=5843">CINAHL Complete</a></tl-nav-li>
          <tl-nav-li><a href="http://proxy.library.tamu.edu/login?url=https://coral.library.tamu.edu/resourcelink.php?resource=1960">ERIC</a></tl-nav-li>
          <tl-nav-li><a href="http://proxy.library.tamu.edu/login?url=https://coral.library.tamu.edu/resourcelink.php?resource=2288">JSTOR</a></tl-nav-li>
          <tl-nav-li><a href="http://proxy.library.tamu.edu/login?url=https://coral.library.tamu.edu/resourcelink.php?resource=3487">MEDLINE (PubMed)</a></tl-nav-li>
          <tl-nav-li><a href="http://proxy.library.tamu.edu/login?url=https://coral.library.tamu.edu/resourcelink.php?resource=1849">Web of Science</a></tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Citing and Writing">
          <tl-nav-li><a href="http://tamu.libguides.com/citationbasics">Citation Basics</a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libguides.com/citingandwriting?b=g&amp;d=a&amp;group_id=12426">Citation Style Guides</a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libguides.com/refworks">RefWorks</a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libguides.com/endnote">EndNote</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/services/library_tutorials/academic_integrity/index.html">Academic Integrity and Plagiarism</a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libguides.com/topic">Finding and Exploring Your Topic</a></tl-nav-li>
        </tl-mega-menu-section>

        <tl-mega-menu-section section-title="Researcher Services">
          <tl-nav-li><a href="https://library.tamu.edu/services/scholarly_communication/index.html">Scholarly Communication Services</a></tl-nav-li>
          <tl-nav-li><a href="https://scholars.library.tamu.edu/vivo/">Scholars@TAMU</a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/services/scholarly_communication/Data_Management/index.html">Research Data Management</a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libguides.com/?b=g&amp;d=a&amp;group_id=9194">GIS, Maps &amp; Data</a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libguides.com/systematicreviews">Systematic Reviews</a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libguides.com/c.php?g=934250&amp;p=6734144">Open Educational Resources (OER)</a></tl-nav-li>
        </tl-mega-menu-section>

      </tl-mega-menu>

    </wvr-nav-li-element>

    <wvr-nav-li-element>
      <tl-mega-menu menu-title="Study Spaces" view-all-href="/studySpaces/">
        <tl-mega-menu-section section-title="Reserve A Study Room">
          <tl-nav-li><a href="http://tamu.libcal.com/spaces?lid=1181&amp;gid=2068"><wvr-text value="Evans Annex Group"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libcal.com/spaces?lid=1181&amp;gid=2078"><wvr-text value="Evans Library Individual"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libcal.com/spaces?lid=1181&amp;gid=2070"><wvr-text value="Evans Library Group"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libcal.com/spaces?lid=1192&amp;gid=2084"><wvr-text value="MSL Individual &amp; Group"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libcal.com/spaces?lid=1192&amp;gid=2085"><wvr-text value="MSL GPS Zone"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://tamu.libcal.com/spaces?lid=1199"><wvr-text value="BLCC Group Rooms"></wvr-text></a></tl-nav-li>
        </tl-mega-menu-section>
        <tl-mega-menu-section section-title="Study Areas">
          <tl-nav-li><a href="http://library.tamu.edu/studySpaces/study_spaces.html#quiet"><wvr-text value="Quiet"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://library.tamu.edu/studySpaces/study_spaces.html#group"><wvr-text value="Group"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://library.tamu.edu/studySpaces/study_spaces.html#collab"><wvr-text value="Collaborative (technology supported)"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://library.tamu.edu/studySpaces/study_spaces.html#grad"><wvr-text value="Graduate"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://library.tamu.edu/studySpaces/study_spaces.html#research"><wvr-text value="Individual &amp; Research Study Rooms"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/libraryInstruction/the-studio.html"><wvr-text value="The Studio"></wvr-text></a></tl-nav-li>
        </tl-mega-menu-section>
        <tl-mega-menu-section section-title="Beyond College Station">
          <tl-nav-li><a href="https://library.tamu.edu/about/directions/medical-sciences-library.html#panelTwo"><wvr-text value="Bryan Campus (MSL)"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/about/directions/medical-sciences-library.html#panelThree"><wvr-text value="College of Pharmacy - Kingsville (MSL)"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://law.tamu.edu/current-students/library"><wvr-text value="Dee J. Kelly Law Library (Fort Worth)"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://tamu.libguides.com/c.php?g=949829"><wvr-text value="McAllen Campus"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://qatar.library.tamu.edu/"><wvr-text value="Qatar Library"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/about/directions/medical-sciences-library.html#panelFour"><wvr-text value="Round Rock (MSL)"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/about/directions/medical-sciences-library.html#panelFive"><wvr-text value="Temple (MSL)"></wvr-text></a></tl-nav-li>
        </tl-mega-menu-section>
      </tl-mega-menu>
    </wvr-nav-li-element>

    <wvr-nav-li-element>
      <tl-mega-menu menu-title="Collections" view-all-href="/borrowing/">
        <tl-mega-menu-section section-title="Borrowing">
          <tl-nav-li><a href="http://library.tamu.edu/about/loan_evans.html"><wvr-text value="Checkout Privileges"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://library.tamu.edu/borrowing/renewals.html"><wvr-text value="Renew, Recalls, &amp; Returns"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://library.tamu.edu/about/late.html"><wvr-text value="Overdue, Damaged &amp; Lost"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://library.tamu.edu/about/other_patrons.html"><wvr-text value="Guests"></wvr-text></a></tl-nav-li>
        </tl-mega-menu-section>
        <tl-mega-menu-section section-title="Get It for Me">
          <tl-nav-li><a href="http://getitforme.library.tamu.edu/"><wvr-text value="Get It For Me (ILL)"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://library.tamu.edu/services/service_request_forms/purchase_request.php"><wvr-text value="Suggest a Purchase"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/services/gifm_faq.html"><wvr-text value="Get It For Me FAQ"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/services/lending_services.html"><wvr-text value="Lending to Other Libraries"></wvr-text></a></tl-nav-li>
        </tl-mega-menu-section>
        <tl-mega-menu-section section-title="About our Collections">
          <tl-nav-li><a href="https://library.tamu.edu/research/how_build.html"><wvr-text value="Collection Development"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/about/collectionPolicies.html"><wvr-text value="Policies"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/research/preservation_page.html"><wvr-text value="Preservation"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/search/index.html"><wvr-text value="Search Print &amp; Electronic Collections"></wvr-text></a></tl-nav-li>
        </tl-mega-menu-section>
        <tl-mega-menu-section section-title="Collections for Checkout">
          <tl-nav-li><a href="https://library.tamu.edu/search/books.html"><wvr-text value="Books &amp; New Books"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://reserves.library.tamu.edu/ares/logon.asp"><wvr-text value="Course Reserves"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/research/circulating_collections.html"><wvr-text value="Curriculum Collection"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/search/govtInfo.html"><wvr-text value="Government Document"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/search/maps.html"><wvr-text value="Maps"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/services/media_services/equipment.html"><wvr-text value="Media &amp; Equipment"></wvr-text></a></tl-nav-li>
        </tl-mega-menu-section>
        <tl-mega-menu-section section-title="Historical Collections">
          <tl-nav-li><a href="https://cushing.library.tamu.edu/"><wvr-text value="Cushing Memorial Library &amp; Archives"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://archon.library.tamu.edu/"><wvr-text value="Archival Finding Aids"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/research/digital_collections.html"><wvr-text value="Digitized Collections"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://www.hathitrust.org/"><wvr-text value="HathiTrust"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://msl.library.tamu.edu/borrowing/historical_vet_collection.html"><wvr-text value="Historic Veterinary Collection at MSL"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/yearbooks/"><wvr-text value="Texas A&amp;M University Yearbooks"></wvr-text></a></tl-nav-li>
        </tl-mega-menu-section>
        <tl-mega-menu-section section-title="Digital Scholarship">
          <tl-nav-li><a href="https://archive-it.org/home/tamu"><wvr-text value="Archive-IT"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://dataverse.tdl.org/dataverse/tamu"><wvr-text value="Dataverse"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://oaktrust.library.tamu.edu/"><wvr-text value="OAKTrust (Institutional Repository)"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="https://library.tamu.edu/research/digital_collections.html"><wvr-text value="Online Exhibits"></wvr-text></a></tl-nav-li>
          <tl-nav-li><a href="http://oaktrust.library.tamu.edu/handle/1969.1/1"><wvr-text value="Texas A&amp;M Theses &amp; Dissertations"></wvr-text></a></tl-nav-li>
        </tl-mega-menu-section>
      </tl-mega-menu>
    </wvr-nav-li-element>

    <wvr-nav-li-element class="mobile-menu-header">
      <div (click)="toggleMobileMenu()">
        <span><wvr-text-element value="Close" font-size="0.75em"></wvr-text-element></span>
        <svg class="bi bi-x" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
        </svg>
      </div>
    </wvr-nav-li-element>
    <ng-container wvr-nav-items>
      <ng-content select="wvr-nav-li"></ng-content>
    </ng-container>
  </wvr-nav-list-element>
</wvr-header-element>

<span class="mobile-menu-backdrop" [ngClass]="{'closed': mobileMenuClosed}"></span>

<div class="container" class="mobile-menu-button">
  <svg (click)="toggleMobileMenu()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu mobile-menu-button"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
</div>
