@import "../shared/styles/tl-encapsulated.scss";
@import "../shared/styles/tl-branded-btn.scss";

:host {

  wvr-header-component {
    // Weaver Component overrides
    --wvr-navbar-padding: 0px;
    --wvr-font-family-sans-serif: var(--tl-font-family-sans-serif);
    --wvr-nav-link-font-size: var(--tl-nav-item-font-size);

    // Weaver Header Element Overrides
    --top-nav-height: 50px;
    --title-row-height: 85px;
    --bottom-nav-height: 65px;

    wvr-nav-list-component[top-navigation-mobile] > ul > wvr-nav-li-component > li > a,
    wvr-nav-list-component[top-navigation] > ul > wvr-nav-li-component > li > a {
      padding: 12px;
      text-decoration: none;
      color: var(--tl-white);
    }

    wvr-nav-list-component[top-navigation-mobile] > ul > wvr-nav-li-component > li > a:hover,
    wvr-nav-list-component[top-navigation] > ul > wvr-nav-li-component > li > a:hover {
      color: var(--tl-black);
    }

    // Weaver Nav List overrides for top navigation
    wvr-nav-list-component[top-navigation-mobile] wvr-nav-li-component,
    wvr-nav-list-component[top-navigation] wvr-nav-li-component,
    wvr-nav-list-component[top-navigation] .dropdown,
    wvr-nav-list-component[top-navigation-mobile] .dropdown {
      --wvr-nav-link-background-hover: var(--tl-deep-yellow);
      --wvr-nav-li-width: contain;
      border-right: 1px solid #6a0000;
      font-size: 14px;

      .wvr-button {
        color: var(--tl-white);
        padding: 9px 12px;
        text-align: center;
        font-size: 14px;
        margin-top: 4px;
      }

      .wvr-button:focus {
        border-radius: 0px;
        box-shadow: none;
      }

      > .dropdown-menu {
        width: 497px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        text-align: left;
        font-size: 16px;
      }

      .hours wvre-dropdown-menu-item {
        .caldate {
          padding: 10px 0 0 0;
          font-size: 13px;
        }

        .caldate span {
          float: right;
        }
      }

      .libraries {

        .libraries-link {
          margin-bottom:18px;
          a {
            color: #500000;
            text-decoration: underline;
          }
        }

        p {
          color: #4d4d4d;
          a {
            color: #2b5d7d;
            text-decoration: underline;
          }
        }
        wvre-dropdown-menu {
          line-height: 0.6rem;
          margin-left: -20px;
          padding: 0px 15px;
        }
      }

      .information-for {

        a {
          color: #2b5d7d;
          text-decoration: none;
          line-height: 2;
          padding: 10px 20px;
        }
        a:hover {
          color: #23527c;
        }
      }

      .help {
        .wvr-button {
          color: var(--tl-white);
        }
        .wvr-button:hover {
          color: var(--tl-black);
        }

          wvre-dropdown-menu > wvre-dropdown-menu-item {
          border-bottom: 1px solid #e0e0e0;
          padding: 10px 0px;
          display: flex;
          a {
            color: #500000;
            padding: 8px 0px 8px 8px;
            text-decoration: none;
            width: 100%;
          }
          tl-icon svg {
            fill: var(--tl-deep-grey);
            width: 35px;
            height: 35px;
            margin-right: 5px;
            background: var(--tl-white);
          }
        }

        wvre-dropdown-menu > wvre-dropdown-menu-item:hover > .helpLink {
          background: #b0b0b0;
          border-radius: 5px;
        }

        wvre-dropdown-menu > wvre-dropdown-menu-item:first-child,
        wvre-dropdown-menu > wvre-dropdown-menu-item:last-child {
          border-bottom: 0px;
        }
      }
    }

    wvr-nav-list-component[top-navigation] .dropdown:hover {
      .wvr-button {
        color: var(--tl-black);
      }
    }

    wvr-nav-list-component[top-navigation] wvr-nav-li-component:last-child,
    wvr-nav-list-component[top-navigation] .dropdown:last-child {
      border: none;
    }

    wvr-nav-list-component[bottom-navigation] wvre-nav-li,
    wvr-nav-list-component[bottom-navigation] wvr-nav-li-component {
      --wvr-nav-link-color: var(--tl-black);
      --wvr-nav-link-color-hover: var(--tl-white);
      --wvr-nav-link-background-hover: var(--tl-deep-grey);
      width: fit-content;
      .nav-item > a wvre-text {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: black;
      }

      .nav-item:hover > a wvre-text {
        color: white;
      }


      :hover wvre-dropdown-btn {
          color: white;
          svg {
            color: white;
          }
      }

      tl-mega-menu {
        display: flex;
        height: 100%;
        width: 100%;
        wvr-dropdown-component {
          display: flex;
          height: 100%;
          width: 100%;
          .wvr-dropdown {
            width: 100%;
            .dropdown {
              height: 100%;
              width: 100%;
              wvre-text {
                font-size: var(--tl-font-size);
              }
              wvr-button-component {
                display: flex;
                height: 100%;
                width: 100%;
                button-wrapper {
                  width: 100%;
                  button {
                    height: 100%;
                    width: 100%;
                    text-align: center;
                  }
                }
              }
            }
          }
        }

      }
    }

    .navbar-brand {
      font-size: var(--tl-default-font-size);
    }

    .h1 {
      font-size: var(--tl-h1-font-size);
    }

    .top-nav {
      border-bottom: 1px solid #333333;
      .container {
        > div {
          height: auto;
        }
      }
    }

    @media (max-width: 767px) {
      --top-nav-height: auto;
      --wvr-nav-li-width: fit-content;
      header {
        box-shadow: 1px 1px 5px 2px #000;
      }

      [top-navigation],
      [bottom-navigation],
      .bottom-nav {
        display: none;
        overflow: hidden;
      }

      .top-nav {
        border-bottom: 1px solid #333333;
        .container {
          > div {
            width: 100%;
          }
          > a.navbar-brand {
            margin: auto;
          }
        }
      }

      .mobile-menu > div > div > wvr-nav-li > li {
        display: flex;
        > a {
          justify-content: start !important;
          height: 65px;
          width: 100%;
          background: var(--tl-deep-yellow);
          border-bottom: 1px solid rgb(175, 175, 175);
          wvre-text {
            font-family: sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: black;
          }
        }
      }

      wvr-nav-list-component[top-navigation-mobile] {

        .dropdown,
        wvr-nav-li-component,
        wvre-nav-li {
          flex: 1 1 auto;
          border-right: none;
        }

        ul {
          justify-content: space-evenly;
          flex-wrap: nowrap!important;
          flex-direction: column!important;
        }

        li {
          justify-content: left!important;

          wvr-dropdown-component,
          wvre-dropdown {
            width: 100%;
          }

          .wvr-dropdown {
            display: flex !important;
          }


          wvr-button-component {
            display: flex;
            width:100%;
            button-wrapper {
              width: 100%;
              .btn {
                text-align: start !important;
              }
            }
          }

          .dropdown .wvr-button,
          a {
            width: 100%;
            padding-top: 6px !important;
            padding-bottom: 6px !important;
            margin-top: 0px !important;
            wvre-dropdown-btn,
            wvr-text-component,
            wvre-text {
              font-family: var(--tl-font-family-sans-serif);
              font-weight: bold;
              font-size: 16px;
              color: black;
            }
          }
        }
      }

      .title-row {
        text-align: center;
      }

      tl-mega-menu {
        width: 100%;
        background: var(--tl-deep-yellow);
        overflow: hidden;
        border-bottom: grey;
        wvr-dropdown-component {
          display: flex;
          width: 100%;
          .wvr-dropdown {
            display: flex !important;
            width: 100%;
            .dropdown {
              display: flex !important;
              width: 100%;
              wvr-button-component {
                display: flex;
                width: 100%;
                button-wrapper {
                  display: flex;
                  width: 100%;
                  height: 68px;
                  align-items: center;
                  border-bottom: thin solid rgb(175, 175, 175);
                  button {
                    display: flex;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }

      .mobile-menu-button {
        display: inline-block;
        overflow: hidden;
      }

      .mobile-menu {
        display: inline-block;
      }

      .mobile-menu.closed {
        width: 0px;
        opacity: 0;
      }

    }
  }
  .mobile-menu-button {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  .mobile-menu {
    position: absolute;
    display: none;
    background: rgb(175, 175, 175);
    width: 75%;
    opacity: 1;
    box-shadow: 3px 3px 10px 0px var(--tl-black);
    left: 0;
    z-index: 1100;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    div.mobile-menu-content {
        wvre-nav-li > li.nav-item {
          a {
            white-space: nowrap;
          }
          .mobile-display tl-mega-menu-section-component,
            .mobile-display tl-mega-menu-section {
              white-space: nowrap;
            }
          tl-mega-menu > wvr-dropdown-component > .wvr-dropdown .dropdown wvr-button-component {
            white-space: nowrap;
          }
        }
    }
  }

}
