@import "~bootstrap/scss/bootstrap.scss";
@import "../shared/styles/tl-variables.scss";

wvr-header {
  // Weaver Component Overrides
  --wvr-navbar-padding: 0px;
  --wvr-font-family-sans-serif: var(--tl-font-family-sans-serif);
  --wvr-nav-link-font-size: var(--tl-nav-link-font-size);

  // Weaver Header Element Overrides
  --top-nav-height: 50px;
  --title-row-height: 85px;
  --bottom-nav-height: 65px;

  // Weaver Nav List overrides for top navication
  wvr-nav-list[slot="top-navigation"] wvr-nav-li {
    --wvr-nav-link-font-color: var(--tl-white);
    --wvr-nav-link-color-hover: var(--tl-black);
    --wvr-nav-link-bg-hover: var(--tl-deep-yellow);
  }
  
  // Weaver Nav List overrides for bottom navication
  wvr-nav-list[slot="bottom-navigation"] ::slotted(wvr-nav-li) {
    --wvr-nav-link-font-color: var(--wvr-black);
    --wvr-nav-link-color-hover: var(--wvr-white);
    --wvr-nav-link-bg-hover: var(--tl-deep-grey);
  }

}
