<wvr-dropdown-element
  [btnType]="'link'"
  [toggleOn]="'mouseover'"
  menuXOffset="{{menuXOffset}}px"
  [menuYOffset]="'-2px'"
  [menuWidth]="'928px'"
  [btnTextDecoration]="'none'"
  [btnColor]="'var(--tl-black)'"
  [btnFontWeight]="'bolder'"
  [btnColorHover]="'var(--tl-black)'"
  [btnTextDecorationHover]="'none'"
  ngbDropdownAnchor
  >
  <wvr-dropdown-btn>
    {{menuTitle}}
    <tl-icon-element
      [hiddenInMobile]="true"
      [set]="bootstrap"
      [name]="caret-right-fill"
      [size]="11px">
    </tl-icon-element>
  </wvr-dropdown-btn>
  <wvr-dropdown-menu>
    <div class="mega-menu-sections d-flex justify-content-between flex-wrap">
      <ng-content select="tl-mega-menu-section"></ng-content>
    </div>
    <div class="mega-menu-view-all">
      <tl-button-element [href]="viewAllHref" [btnClass]="'primary'">
        <wvr-text-element value="View All {{menuTitle}}"></wvr-text-element>
      </tl-button-element>
    </div>
  </wvr-dropdown-menu>
</wvr-dropdown-element>
