<wvr-dropdown-element
  [btnType]="'link'"
  [toggleOn]="'mouseover'"
  [menuYOffset]="0"
  [menuWidth]="'928px'"
  [btnTextDecoration]="'none'"
  [btnColor]="'var(--tl-black)'"
  [btnFontWeight]="'bolder'"
  [btnColorHover]="'var(--tl-black)'"
  [btnTextDecorationHover]="'none'"
  ngbDropdownAnchor
  >
  <wvr-dropdown-btn>
    {{menuTitle}}
    <tl-icon-element
      set="bootstrap"
      name="caret-right-fill"
      size="11px">
    </tl-icon-element>
  </wvr-dropdown-btn>
  <wvr-dropdown-menu>
    <div class="tl-mega-menu-custom-top">
      <div class="flex-fill align-self-stretch">
        <ng-content select="tl-mega-menu-custom[top-content]"></ng-content>
      </div>
    </div>
    <div class="container mega-menu-sections d-flex justify-content-between flex-wrap">
      <ng-content select="tl-mega-menu-section"></ng-content>
    </div>
    <div class="tl-mega-menu-custom-bottom">
      <div class="flex-fill align-self-stretch">
        <ng-content select="tl-mega-menu-custom[bottom-content]"></ng-content>
      </div>
    </div>
    <div class="container mega-menu-view-all">
      <tl-button-element *ngIf="viewAllHref" [href]="viewAllHref" [btnClass]="'primary'">
        <wvr-text-element [value]="viewAllButtonText"></wvr-text-element>
      </tl-button-element>
    </div>
  </wvr-dropdown-menu>
</wvr-dropdown-element>
