@import "../shared/styles/tl-encapsulated.scss";
@import "../shared/styles/tl-variables.scss";

:host {
  .mega-menu-view-all {
    display: flex;
    justify-content: flex-end;
  }

  wvr-dropdown-element {
    ::ng-deep {
      .wvr-dropdown .dropdown {
        .btn.btn-link.dropdown-toggle, 
        .btn.btn-link:not(:disabled):not(.disabled).active, 
        .btn.btn-link:not(:disabled):not(.disabled):active {
          text-decoration: none !important;
          color: var(--tl-black) !important;
        }
        .btn {
          tl-icon-element.x-icon svg {
            transition: 0.25s ease-in-out;
            transform: rotate(0deg);
          }
          tl-icon-element.plus-icon svg {
            transition: 0.25s ease-in-out;
            transform: rotate(0deg);
          }
          width: 100%;
        }
      }
    }
  }

  wvr-dropdown-element.active {
    ::ng-deep {
      .wvr-dropdown .dropdown {
        .btn {
          tl-icon-element.x-icon svg {
            transition: 0.25s ease-in-out;
            transform: rotate(90deg);
          }
          tl-icon-element.plus-icon svg {
            transition: 0.25s ease-in-out;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .mobile-display {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s linear;
    background: var(--tl-grey);
    ::ng-deep {
      tl-mega-menu-section {
        wvr-nav-list-element {
          display: inline-block;
          overflow: hidden;
          max-height: 0px;
          transition: max-height 1s linear;
        }
      }
    }
  }

  .mobile-display.active {
    max-height: 1500px;
    transition: max-height 0.5s linear;
    ::ng-deep {
      tl-mega-menu-section.active {
        wvr-nav-list-element {
          max-height: 400px;
          transition: max-height 0.5s linear;
        }
      }
    }
  }

  ::ng-deep {
    
    tl-button-element {
      --tl-btn-border-radius: 0px;
    }

    .wvr-dropdown .dropdown {
      wvr-dropdown-btn {
        width: 100%;
        tl-icon-element.plus-icon {
          display: none;
          float: right;
        }
        tl-icon-element.x-icon {
          display: inline-block;
        }
      }
      [ngbDropdownMenu] {
        padding: 20px;
        border: 1px solid var(--tl-grey);
        border-radius: 3px;
        border-bottom: 12px solid var(--tl-deep-yellow);
        box-shadow: 0px 2px 3px 1px var(--tl-grey);
      }
    }

  }

  @media (max-width: 767px) {

    wvr-dropdown-element {
      ::ng-deep {
        .wvr-dropdown .dropdown {
          .btn {
            text-align: start !important;
          }
        }
      }
    }

    ::ng-deep {
      .wvr-dropdown .dropdown {
        wvr-dropdown-btn {
          tl-icon-element.plus-icon {
            display: inline-block;
          }
          tl-icon-element.x-icon {
            display: none;
          }
        }
      }
    }
  }

}