@import "../shared/styles/tl-encapsulated.scss";
@import "../shared/styles/tl-branded-btn.scss";

:host {
  wvrc-footer-element {
    // Weaver Component overrides
    --wvrc-navbar-padding: 0px;
    --wvrc-font-family-sans-serif: var(--tl-font-family-sans-serif);
    --wvrc-nav-link-font-size: var(--tl-nav-item-font-size);
    --footer-height: 50px;
  }

   // Weaver Nav List overrides for top navigation
   wvrc-nav-list-element wvrc-nav-li-element {
    --wvrc-nav-link-color: var(--tl-white);
    --wvrc-nav-link-color-hover: var(--tl-deep-yellow);
    --wvrc-nav-link-background-hover: transparent;
    --wvrc-nav-link-text-decoration-hover: underline;
    --wvrc-nav-li-width: max-content;
  }
  @media (max-width: 767px) {
    wvrc-footer-element {
      --footer-height: auto;
      --footer-height: auto;
      wvrc-nav-list-element {
        ul.flex-row {
          flex-direction: column !important;
        }
      }
    }
  }
}
