:host {

  --tl-btn-border-radius: 4px;
  --tl-btn-font-family: Lato-Regular;
  --tl-btn-font-size: 18px;
  --tl-btn-line-height: 24px;
  --tl-btn-padding: .375rem .75rem;
  --tl-btn-text-align: center;
  --tl-btn-vertical-align: middle;
  --tl-btn-box-shadow: none;

  --tl-btn-border: 1px solid transparent;

  // primary
  --tl-btn-primary-background: rgb(80, 0, 0);
  --tl-btn-primary-active-background: rgb(77, 77, 77);
  --tl-btn-primary-hover-background: rgb(77, 77, 77);

  --tl-btn-primary-color:rgb(255, 255, 255);
  --tl-btn-primary-active-color:rgb(255, 255, 255);
  --tl-btn-primary-hover-color:rgb(255, 255, 255);

  --tl-btn-primary-text-decoration: none;
  --tl-btn-primary-active-text-decoration: none;
  --tl-btn-primary-focus-text-decoration: none;
  --tl-btn-primary-hover-text-decoration: none;

  --tl-btn-primary-width: 65px;

  // secondary
  --tl-btn-secondary-background: rgb(38, 90, 135);
  --tl-btn-secondary-active-background: rgb(77, 77, 77);
  --tl-btn-secondary-hover-background: rgb(77, 77, 77);

  --tl-btn-secondary-border: 1px solid rgb(38, 90, 135);
  --tl-btn-secondary-active-border: 1px solid rgb(77, 77, 77);
  --tl-btn-secondary-focus-border: 1px solid rgb(77, 77, 77);
  --tl-btn-secondary-hover-border: 1px solid rgb(77, 77, 77);

  --tl-btn-secondary-color: rgb(255, 255, 255);
  --tl-btn-secondary-active-color:rgb(255, 255, 255);
  --tl-btn-secondary-hover-color:rgb(255, 255, 255);

  --tl-btn-secondary-text-decoration: none;
  --tl-btn-secondary-active-text-decoration: none;
  --tl-btn-secondary-focus-text-decoration: none;
  --tl-btn-secondary-hover-text-decoration: none;

  --tl-btn-secondary-width: 85px;

  // info
  --tl-btn-info-background: rgb(91, 192, 222);
  --tl-btn-info-active-background: rgb(49, 176, 213);
  --tl-btn-info-hover-background: rgb(49, 176, 213);

  --tl-btn-info-border: 1px solid rgb(151, 151, 151);
  --tl-btn-info-active-border: 1px solid rgb(151, 151, 151);
  --tl-btn-info-focus-border: 1px solid rgb(151, 151, 151);
  --tl-btn-info-hover-border: 1px solid rgb(151, 151, 151);

  --tl-btn-info-color:rgb(0, 0, 0);
  --tl-btn-info-active-color:rgb(0, 0, 0);
  --tl-btn-info-hover-color:rgb(0, 0, 0);

  --tl-btn-info-text-decoration: none;
  --tl-btn-info-active-text-decoration: none;
  --tl-btn-info-focus-text-decoration: none;
  --tl-btn-info-hover-text-decoration: none;

  --tl-btn-info-width: 33px;


  // warning
  --tl-btn-warning-background: rgb(255, 194, 34);
  --tl-btn-warning-active-background: rgb(255, 232, 170);
  --tl-btn-warning-hover-background: rgb(255, 232, 170);

  --tl-btn-warning-border: 1px solid rgb(255, 232, 170);
  --tl-btn-warning-active-border: 1px solid rgb(255, 232, 170);
  --tl-btn-warning-focus-border: 1px solid rgb(255, 232, 170);
  --tl-btn-warning-hover-border: 1px solid rgb(255, 232, 170);

  --tl-btn-warning-color: rgb(0, 0, 0);
  --tl-btn-warning-active-color:rgb(0, 0, 0);
  --tl-btn-warning-hover-color:rgb(0, 0, 0);

  --tl-btn-warning-text-decoration: none;
  --tl-btn-warning-active-text-decoration: none;
  --tl-btn-warning-focus-text-decoration: none;
  --tl-btn-warning-hover-text-decoration: none;

  --tl-btn-warning-width: 69px;
  --tl-btn-warning-hover-width: 124px;

  // danger
  --tl-btn-danger-background: rgb(228, 0, 43);
  --tl-btn-danger-active-background: rgb(255, 219, 226);
  --tl-btn-danger-hover-background: rgb(255, 219, 226);

  --tl-btn-danger-border: 1px solid rgb(228, 0, 43);
  --tl-btn-danger-active-border: 1px solid rgb(228, 0, 43);
  --tl-btn-danger-focus-border: 1px solid rgb(228, 0, 43);
  --tl-btn-danger-hover-border: 1px solid rgb(228, 0, 43);

  --tl-btn-danger-color: rgb(255, 255, 255);
  --tl-btn-danger-active-color:rgb(0, 0, 0);
  --tl-btn-danger-hover-color:rgb(0, 0, 0);

  --tl-btn-danger-text-decoration: none;
  --tl-btn-danger-active-text-decoration: none;
  --tl-btn-danger-focus-text-decoration: none;
  --tl-btn-danger-hover-text-decoration: none;

  --tl-btn-danger-width: 60px;

  // success
  --tl-btn-success-background: rgb(0, 189, 50);
  --tl-btn-success-active-background: rgb(214, 255, 224);
  --tl-btn-success-hover-background: rgb(214, 255, 224);

  --tl-btn-success-border: 1px solid rgb(0, 189, 50);
  --tl-btn-success-active-border: 1px solid rgb(0, 189, 50);
  --tl-btn-success-focus-border: 1px solid rgb(0, 189, 50);
  --tl-btn-success-hover-border: 1px solid rgb(0, 189, 50);

  --tl-btn-success-color: rgb(0, 0, 0);
  --tl-btn-success-active-color:rgb(0, 0, 0);
  --tl-btn-success-hover-color:rgb(0, 0, 0);

  --tl-btn-success-text-decoration: none;
  --tl-btn-success-active-text-decoration: none;
  --tl-btn-success-focus-text-decoration: none;
  --tl-btn-success-hover-text-decoration: none;

  --tl-btn-success-width: 63px;


  // light
  --tl-btn-light-background: rgb(255, 255, 255);
  --tl-btn-light-active-background: rgb(80, 0, 0);
  --tl-btn-light-hover-background: rgb(80, 0, 0);

  --tl-btn-light-border: 1px solid rgb(80, 0, 0);
  --tl-btn-light-active-border: 1px solid rgb(80, 0, 0);
  --tl-btn-light-focus-border: 1px solid rgb(80, 0, 0);
  --tl-btn-light-hover-border: 1px solid rgb(80, 0, 0);

  --tl-btn-light-color: rgb(80, 0, 0);
  --tl-btn-light-active-color:rgb(255, 255, 255);
  --tl-btn-light-hover-color:rgb(255, 255, 255);

  --tl-btn-light-text-decoration: none;
  --tl-btn-light-active-text-decoration: none;
  --tl-btn-light-focus-text-decoration: none;
  --tl-btn-light-hover-text-decoration: none;

  --tl-btn-light-width: 41px;

  // dark
  --tl-btn-dark-background: rgb(77, 77, 77);
  --tl-btn-dark-active-background: rgb(255, 255, 255);
  --tl-btn-dark-hover-background: rgb(255, 255, 255);

  --tl-btn-dark-border: 1px solid rgb(77, 77, 77);
  --tl-btn-dark-active-border: 1px solid rgb(77, 77, 77);
  --tl-btn-dark-focus-border: 1px solid rgb(77, 77, 77);
  --tl-btn-dark-hover-border: 1px solid rgb(77, 77, 77);

  --tl-btn-dark-color: rgb(255, 255, 255);
  --tl-btn-dark-active-color:rgb(77, 77, 77);
  --tl-btn-dark-hover-color:rgb(77, 77, 77);

  --tl-btn-dark-text-decoration: none;
  --tl-btn-dark-active-text-decoration: none;
  --tl-btn-dark-focus-text-decoration: none;
  --tl-btn-dark-hover-text-decoration: none;

  --tl-btn-dark-width: 40px;

  // link
  --tl-btn-link-background: none;
  --tl-btn-link-active-background: none;
  --tl-btn-link-hover-background: none;

  --tl-btn-link-border: none;
  --tl-btn-link-active-border: none;
  --tl-btn-link-focus-border: none;
  --tl-btn-link-hover-border: none;

  --tl-btn-link-color: rgb(43, 93, 125); // rgb(80, 0, 0);
  --tl-btn-link-active-color:rgb(43, 93, 125);
  --tl-btn-link-hover-color:rgb(43, 93, 125);

  --tl-btn-link-text-decoration: none;
  --tl-btn-link-active-text-decoration: underline;
  --tl-btn-link-focus-text-decoration: underline;
  --tl-btn-link-hover-text-decoration: underline;

  --tl-btn-link-width: 26px;

  // dropdown styles

    // primary button
  --tl-dropdown-primary-button-background: rgb(38, 90, 135);
  --tl-dropdown-primary-button-border: 1px solid rgb(30, 72, 108);
  // primary button : hover
  --tl-dropdown-primary-button-hover-background: rgb(77, 77, 77);
  --tl-dropdown-primary-button--hover-border: 1px solid rgb(89, 89, 89);

  // info button
  --tl-dropdown-info-button-color: var(--tl-black) ;
  --tl-dropdown-info-button-background: rgb(91, 192, 222);
  --tl-dropdown-info-button-border: 1px solid rgb(70, 184, 218);
  // info button : hover
  --tl-dropdown-info-button-hover-background: rgb(49, 176, 213);
  --tl-dropdown-info-button--hover-border: 1px solid rgb(38, 154, 188);
  --tl-dropdown-info-button-hover-color: #fff ;

  // default button
  --tl-dropdown-default-button-background: rgb(80, 0, 0);
  --tl-dropdown-default-button-border: 1px solid rgb(151, 151, 151);
  --tl-dropdown-default-button-color: #ffffff ;
  // default button : hover
  --tl-dropdown-default-button-hover-background: rgb(77, 77, 77);

}
