/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.wvr-bootstrap {
  @import '~@wvr/elements/styles/variables';
  @import '~bootstrap/scss/bootstrap';
  @import '~@wvr/elements/styles/mixins';
  @import '~@wvr/elements/styles/overrides';
}

@import '~@wvr/elements/styles/wvr-elements';
@import '../projects/tl-elements/src/lib/shared/styles/tl-elements';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: #00648B !important;
  text-decoration: none;
}

a:hover {
  color: #003F58 !important;
  text-decoration: none !important;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
