/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.wvr-bootstrap {
  @import '~bootstrap/scss/bootstrap.scss';
}

.wvr-hidden {
  display: none!important;
}

body {
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
