@import "../shared/styles/tl-variables.scss";
@import "../shared/styles/tl-branded-btn.scss";

:host {

  wvr-dropdown-element {
    ::ng-deep {

      wvr-dropdown-menu, .dropdown-menu {
        box-shadow: var(--tl-dropdown-menu-box-shadow);
        width: var(--tl-dropdown-menu-width);
        height: var(--tl-dropdown-menu-height);
        background: var(--tl-dropdown-menu-background);
        border: var(--tl-dropdown-menu-border);
      }

      .dropdown-menu > * {
        box-shadow: none;
        border: none;
      }

      .dropdown-menu wvr-dropdown-menu-item {
        display: block;
        padding: 10px;
      }

      .dropdown-menu wvr-dropdown-menu-item:hover {
        background: var(--tl-grey);
      }

    }
  }
}


